@import "/home/booperlv/.cache/wal/colors-waybar.css";

* {
  border: none;
  border-radius: 0;
  font-family: "Sarasa Mono SC";
  font-weight: bold;
}

window#waybar {
  /* background: @background; */
  background: transparent;
  color: @foreground;
}


#workspaces button {
  font-weight: normal;
  padding: 0px 5px;
  opacity: 0.3;
}
#workspaces button:hover {
  opacity: 1;
  color: @background;
  background: transparent;
  font-weight: bold;
  border-radius: 10px;
}
#workspaces button.focused {
  opacity: 1;
  background: @color8;
  font-weight: bold;
  border-radius: 10px;
}

#workspaces {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 10px;
  background-color: @color10;
  color: @background;
  border-radius: 10px;
  font-size: 12px;
}


#clock, #custom-memory, #cpu, #mode {
  color: @foreground;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 10px;
  padding: 0px 10px;
  margin-left: 10px;
  font-size: 11px;
}
#clock {
  background: @color10;
}
#custom-memory {
  background: @color8;
  color: @background;
}
#cpu {
  background: @color8;
  color: @background;
}
#mode {
  background: @color7;
  color: @background;
}


#pulseaudio, #backlight, #battery, #network {
  color: @foreground;
  padding: 0px 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 11px;
}
#battery {
  background: @color8;
  color: @background;
}
#network {
  background: @color10;
}
/* scroll items */
#pulseaudio {
  background: @color7;
  color: @background;
}
#backlight {
  background: @color7;
  color: @background;
}
