@import "/home/booperlv/.cache/wal/colors-waybar.css";

* {
    border:        none;
    border-radius: 0;
    font-family:   Iosevka Nerd Font;
    font-weight: bold;
    font-size: 11px;
    min-height: 0;
    margin: 0;
}

window#waybar {
    background: @background;
    border-bottom: 2px solid @color5;
    color: @foreground;
    padding: 0px;
}

#workspaces button {
    padding: 0px 2.5px;
    background: rgba(100, 114, 125, 0.2);
    border-bottom: 2px solid @color5;
}

#workspaces button.focused {
    background: @color3;
    color: @background;
    border-bottom: 2px solid @foreground;
}

#workspaces {
    padding: 0px 7.5px 0px 0px;
}

#custom-rofiselect {
    padding: 0px 7.5px;
    background: @color3;
    color: @background;
    border-bottom: 2px solid @foreground;
}

#sway-window, #sway-mode, #idle_inhibitor, #clock, #cpu, #custom-memory, #battery, #network {
    padding: 0px 6px;
    margin: 0px 3px;
    border-bottom: 2px solid @color5;
}
