@import "/home/booperlv/.cache/wal/colors-waybar.css";

* {
    border:        none;
    border-radius: 0;
    font-family:   JetBrains Mono, Symbols Nerd Font;
    font-size: 10.5px;
    font-weight: 600;
    min-height: 0;
    margin: 0;
}

window#waybar {
    background: @background;
    color: @foreground;
}

#workspaces button {
    padding: 2.5px;
    background: @color6;
    color: @color3;
}

#workspaces button.focused {
    background: @color3;
    color: @background;
}

#custom-separate {
    padding: 0 12px;
    color: @color5;
}
