configuration {
 	modi: "drun,run,window,power:/home/booperlv/.config/rofi/scripts/powermenu.sh";
 	font: "Iosevka 12";
 	location: 0;
 	yoffset: 0;
 	xoffset: 0;
 	show-icons: true;
  matching: "fuzzy";
}
